div.calculator {
    background-color: #fff;
}

div.calculator > div.container .bg-light {
    background-color: #fff;
}

div.calculator > div.container .bg-bright {
    background-color: #ffcc00;
}

div.calculator div.despatch, 
div.calculator div.despatch-parent,
div.calculator div.dropdown-menu > a.dropdown-item:hover {
    background-color: #ffcc00;
}

div.calculator .button-add:hover {
  background-color: #ffd632;
}

div.calculator .user-field {
    background-color: #fff;
    min-width: 130px;
}

div.calculator .user-field:focus,
div.calculator select:focus,
div.calculator textarea:focus,
div.calculator div.dropdown-menu {
    background-color: #ffff66;
}

div.calculator .button {
    background-color: #ff0000;
    padding: 4px 8px 4px 8px;
    border: 1px solid black;
    border-radius: 5px;
}

div.calculator .button:hover {
    background-color: #ff3030;
}

div.calculator .button-calculate,
div.calculator .button-call {
    width: 180px;
    height: 50px;
    font-size: 18px;
}

div.calculator .button-add {
    background-color: #ffcc00;
    padding: 4px 8px 4px 8px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

div.calculator .text-headline {
    text-align: center;
}

div.calculator img.svg-icon {
    height: 45px;
}

div.calculator div.dropdown-menu img.svg-icon {
    margin-right: 15px;
}

div.calculator button.dropdown-toggle img.svg-icon {
    height: 65px;
    margin-right: 15px;
}

div.calculator img#reserveIcon {
    height: 28px;
}

div.calculator div.prm {
    text-align: center;
}

div.calculator span.close-despatch {
    position: relative;
    bottom: 15px;
    left: 99%;
}

div.calculator span.close-despatch > img.svg-close-btn {
    height: 25px;
    width: 25px;
    position: absolute;
    opacity: 0.4;
}

div.calculator span.close-despatch > img.svg-close-btn:hover {
    height: 28px;
    width: 28px;
    opacity: 1;
}

div.calculator a.popularCities {
    font-size: small;
    font-style: italic;
    text-decoration-color: darkgray;
    text-decoration-style: dashed;
    color: dimgray;
    margin-right: 3px;
}

div.calculator div.from-city, 
div.calculator div.to-city {
    min-width: 200px;
}

div.calculator #baseCityResult,
div.calculator #cityResult {
    background: #ffff99;
    border: 1px rgb(52, 58, 64) solid;
    border-radius: 4px;
    max-height: 300px;
    width: 100%;
    overflow-y: auto;
    display: none;
    position: absolute;
    z-index: 99;
}

div.calculator #baseCityResult > li,
div.calculator #cityResult > li {
    list-style: none;
    padding: 5px 10px;
    color: rgb(73, 80, 87);;
    border-bottom: 1px #ccc solid;
    cursor: pointer;
    transition:0.3s;
}

div.calculator #baseCityResult > li:hover,
div.calculator #cityResult > li:hover {
    background: #ffff66;
}