div.calculator {
    background-color: #fad201;
}

div.calculator > div.container > div.row, 
div.calculator > div.container > form > div.row {
    background-color: #ffd800;
}

div.calculator div.despatch, 
div.calculator div.dropdown-menu > a.dropdown-item:hover {
    background-color: #ffb801;
}

div.calculator input, 
div.calculator select,
div.calculator textarea {
    background-color: #ffe033;
    min-width: 130px;
}

div.calculator input:focus,
div.calculator select:focus,
div.calculator textarea:focus,
div.calculator div.dropdown-menu {
    background-color: #ffc111;
}

div.calculator .text-headline {
    text-align: center;
}

div.calculator div.dropdown-menu img.svg-icon,
div.calculator img.svg-icon {
    height: 45px;
    width: 45px;
    vertical-align: middle;
    margin-right: 15px;
}

div.calculator button.dropdown-toggle img.svg-icon {
    height: 65px;
    width: 65px;
    vertical-align: middle;
    margin-right: 15px;
}

div.calculator div.prm {
    text-align: center;
}

