div.calculator {
    background-color: #ffd800;
}

div.calculator div.topPart, 
div.calculator div.bodyPart, 
div.calculator div.bottomPart {
    background-color: #fde910;
}

div.calculator input, 
div.calculator input:focus,
div.calculator select,
div.calculator select:focus {
    background-color: #fced3f;
    min-width: 180px;
}
div.calculator div.input-group-prepend > label {
    background-color: #d4c202;
}
div.calculator .text-headline {
    text-align: center;
}